*{
	margin: 0;
	padding: 0;
}
body{
  font-family: lato;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
p{
  line-height: 150%;
}

.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #18c444;
	padding: 30px 0px;
}

.wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid #18c444;
	
}
.wrapper .sidebar ul li:first-child{
	border-top: 1px solid #18c444;
}

.wrapper .sidebar ul li a{
	color: #fff;
	font-size: 15px;
	display: block;
}
.wrapper .sidebar ul li a p{
	margin-left: 10px;
	display: inline;
}
.wrapper .sidebar ul li:hover{
	background: #0d7728;
}
.wrapper .sidebar ul li.active{
	color: #fff;
	background: #0d7728;
}
.wrapper .sidebar ul li a:hover{
	color: #fff;
}
.wrapper .sidebar .social_media{
	 position: absolute;
	 border: 0px;
	 left: 50%;
	 top: 85%;
	 transform: translateX(-50%);
	 display: flex;

}
.wrapper .sidebar .social_media a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	margin:0px 5px;

}
.wrapper .sidebar .social_media a:hover{
	color: #75eb9f;
}
.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
	padding-bottom: 50px;
}
.main_content .header .heading{
	width: 100%;
    height: 70px;
    background: #3e3e3e;
}
.main_content .header .heading h2{
	display: inline;
    position: fixed;
    margin-left: 10px;
    top: 1%;
    color: #f1f1f1;
}

.main_content .header .heading .picture img{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 3px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.main_content .header .heading .picture img:hover{
	border: 1px solid #1fe674;
}

.main_wrapper{
    display: inline-block;
    margin-left: 250px;
}
.main_wrapper .content-table{
	border-collapse: collapse;
	margin: 25px 0px;
	font-size: 18px;
	min-width: 1200px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
}
.main_wrapper .content-table thead{
	font-weight: bold;
	font-size: 20px;
}
.main_wrapper .content-table thead tr{
	color: #fff;
	text-align: left;
	font-weight: bold;
	background: #00C9FF;  
	background: -webkit-linear-gradient(right, #92FE9D, #00C9FF);
	background: -o-linear-gradient(right, #92FE9D, #00C9FF);
	background: linear-gradient(to left, #92FE9D, #00C9FF);

}
.content-table th,
.content-table td{
	padding: 12px 15px;
	border: 1px solid #ddd;
	vertical-align: top;
}
.content-table tbody tr{
	border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #1fe674;
}
.content-table .delete{
	color: #fff;
	width: 80px;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	background: #ef3030;
}